# Beispiel-Konfiguration für SunWatcher
MAIL_PASSWORD=dein_passwort
POSTGRES_PASSWORD=dein_db_passwort

# Pfade (Lokal: ./sun-watcher-frontend/nginx.conf | Server: ./sun-watcher-frontend/nginx.conf)
NGINX_CONF_FILE=./sun-watcher-frontend/nginx.conf

# Pfade (Lokal: ./certs_local | Server: /etc/letsencrypt)
SSL_PATH=./certs_local

# Ports (Lokal: 8082/8443 | Server: 80/443)
EXTERNAL_HTTP_PORT=8082
EXTERNAL_HTTPS_PORT=8443